.App {
  color:white
}

#basic-navbar-nav{
  display:inline-block; 
}

.navbar{
  background: linear-gradient(90deg, rgb(26, 28, 29) 40%, rgb(179, 179, 136));
  box-shadow: o o o 16px black;
}

#toggler{
  background:white
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
